.account {
    border-radius: 12px;
    border: 3px #38b7e5 solid;
    max-width: 400px;
    padding: 20px;
}

.account-update-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.account-prop {
    margin: 0 0 13px;
}
